# Server
PORT=8888
NODE_ENV=production
CORS_ORIGIN=*

# Database (in-docker)
DB_HOST=postgres
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=managework

# Redis (in-docker)
REDIS_ENABLED=true
REDIS_HOST=redis
REDIS_PORT=6379

# JWT
JWT_SECRET=change_me_in_prod
JWT_EXPIRE=7d

